<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>This is index Page</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="employees : ${employees}">
        <td th:text="${result.id}"><a href="/product/${product.id}">Id</a></td>
        <td th:text="${product.productId}">Product Id</td>
        <td th:text="${product.name}">descirption</td>
        <td th:text="${product.price}">price</td>
        <td><a th:href="${ '/product/' + product.id}">View</a></td>
        <td><a th:href="${'/product/edit/' + product.id}">Edit</a></td>
        <td><a th:href="${'/product/delete/' + product.id}">Delete</a></td>
    </tr>
</table>
</body>
</html>